
@import url('../null-style-css/style.css');

.wrapper {
   width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}
.main {
   width: 1300px;
   margin: 0 auto;
}
.slider {
   display: block;
   width: 1300px;
   min-height: 500px;
   background-color: rgb(226, 226, 226);
   padding: 50px 60px;
}
.slider._remove{
   display: none;
}
.slider__display::-webkit-scrollbar{
   display: none;
}
.slider__item{
   background: black;
   min-height: 100%;
   min-width: 100px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 24px;
   font-family: sans-serif;
   padding: 20px;
}
.content{
   font-size: 30px;
}
.slider__item.col{
   background-color: darkslateblue;
   background: rgba(77, 77, 77, 0.785);
}

